<table>
<tr>
<td >percent</td>
<td >importance</td>
<td >finalgrade</td>
<td >task</td>

</tr>
<% @gradings.each do |grading| %>
<tr>
<td><%= grading.percent %></td>
<td><%= grading.task.course %></td>
</tr>
<% end %>
</table>
