<h1>Tasks</h1>
<p><%= link_to "index tasks", tasks_path%></p>
<p><%= link_to "new task", new_task_path%></p>
<h1>Subparts</h1>
<p><%= link_to "index subparts", part_lists_path%></p>
<p><%= link_to "new subpart", new_part_list_path%></p>