
<head>
  <link href='http://fonts.googleapis.com/css?family=Rum+Raisin' rel='stylesheet' type='text/css'>
</head>
<h1 id="title">Edit Task</h1>
<a id = "unhide">Click to hide title</a>

<div class="task-frm">
<%= semantic_form_for @task do |f| %> 
<%= f.inputs :course, :work, :dueday , :email %>
<div id = "slt"><%= f.input :user_id ,  :as => :select, :collection => User.all, :include_blank => false %></div>
</br>
<%= f.submit :class => "btn btn-lg btn-primary" %> 

<% end %> 
</div>