<table> 
  <tr> 
   <td>course</td> 
   <td>work</td> 
   <td>due day</td> 
  </tr> 
  <% @tasks.each do |task| %> 
  <tr> 
   <td><%= user.course %></td> 
   <td><%= user.work %></td> 
   <td><%= user.dueday %></td> 
  </tr> 
  <% end %> 
</table> 