<head>
  <link href='http://fonts.googleapis.com/css?family=Rum+Raisin' rel='stylesheet' type='text/css'>
</head>
<h1 id="title1">Current Subpart</h1>
<a id = "unhide1">Click to hide title</a>

<div id = "show-tsk">
	<div id = "show-contents">

	<h1><%= @part_list.title %></h2>
	<p><%= @part_list.complete %></p>
	<p><%= @part_list.priority %></p>
	<p><%= @part_list.task.try(:course)%></p>
</div>
</div>