// Place all the styles related to the PartList controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.highlight {
    background-color: yellow;
    color: black;
}

.unhighlight {
    background-color: white;
    color: white;
}

#unhide{

}

#message{
	color: red;
}

#tbl-tasks td{
	border: 0px dashed;
	text-align: center;
}

.container {
	background-color: #000000;
	color: #FFFFFF;
	border: 20px solid transparent;
	border-bottom: 35px solid transparent;
	border-top: 25px solid transparent;
	border-image: url(/app/assets/images/blackboard.png) 40 30 stretch;
}

#frm {
	width:30%;
}

h1{
	font-family: 'Rum Raisin', sans-serif;
}

#crs, #due, #wrk{
	font-family: 'Covered By Your Grace', cursive;
	font-size: 25px;
}

#show-tsk{
	text-align: center;
	background-image: url('sticky-note.jpeg');
	height: 325px;
	width: 305px;
}

#show-contents{
	padding-top: 70px;
	width: 95%;
}